/**
 * Site header
 */
.site-header {
  border-top: 3px #303538 solid;
  background-image: url("http://www.andrewmerrell.co.uk/content/images/2014/Jul/background.jpg");
  position: relative;
  display: table;
  width: 100%;
  height: 60%;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
  background-size: cover;
  box-sizing: border-box;
  min-height: 240px;
  padding: 10% 0;

  h1 {
    font-weight: 800;
    font-size: 50px;

    @include media-query($on-palm) {
      font-size: 30px;
    }
  }

  h2 {
    font-size: 18px;

    @include media-query($on-palm) {
      font-size: 16px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  position: relative;
  margin: 2rem 0 0;
  border-top: #ebf2f6 1px solid;
  font-size: 15px;
  color: $grey-color;
  text-align: center;
  background: #f7fafb;
}
.footer-subscribe {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -15px;
  border: #ebf2f6 1px solid;
  text-align: center;
  border-radius: 50px;
  background: #fff;
  transition: box-shadow 0.5s;
  .footer-rss {
    position: relative;
    top: 6px;
  }
  &:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 600;
  color: #50585D;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 23px;
    @include media-query($on-laptop) {
      font-size: 21px;
    }
  }
}
